* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --bright-snow: #f8f9faff;
    --platinum: #e9ecefb0;
    --alabaster-grey: #dee2e6ff;
    --pale-slate: #ced4daff;
    --pale-slate-2: #adb5bdff;
    --slate-grey: #6c757dff;
    --iron-grey: #495057ff;
    --gunmetal: #343a40ff;
    --carbon-black: #212529ff;
    --wasd: #6b7051;
    --wasd-2: #d3df96;
}

nav {
    display: flex;
    background-color: var(--platinum);
    color: var(--wasd);
}

.I-nav {
    display: flex;
    gap: 10px;
    color: var(--wasd);
}

.list-nav {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.L {
    text-decoration: none;
    color: inherit;
}

.L-1 {
    text-decoration: none;
    color: inherit;
    color: var(--bright-snow);
    background-color: var(--wasd);
    border-color: var(--wasd) !important;
}

.enter {
    display: flex;
    justify-content: center;
    font-size: 1.3rem !important;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bright-snow);
    gap: 30px !important;
}

main {
    background-color: var(--wasd-2);
}

.car-p {
    display: flex;
    justify-content: center;
}

.c-b {
    border-color: var(--wasd) !important;
}

.card {
    border: none;
    background-color: var(--wasd-2);
}

.card {
    width: 100% !important;
    max-width: 50rem !important; /* mantiene el tamaño grande en desktop */
}

.list-h {
    list-style: none;
}

.L-form {
    background-color: #ffffff00 !important;
    border-color: var(--wasd);
    border: none;
    border-bottom: #6b7051 0.2em double;
}

.N-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3em;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.L-form-2 {
    background-color: #ffffff00 !important;
    border-color: var(--wasd);
    border: none;
    border-bottom: #6b7051 0.1em solid !important;
}

.spa {
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-color: var(--wasd-2);
}

@media (max-width: 880px) {
    .c-b {
        border-color: #00000000 !important;
    }

    .col-6 {
        width: 100%;
    }

    .card {
    width: 100%;
    max-width: 50rem; /* conserva el tamaño grande en pantallas anchas */
    }
}

@media (max-width: 500px) {
    .L-form {
    width: 75%;
    }

    .N-form {
    width: 100% !important;
    padding-left: 0 !important;
    align-items: center;
    font-size: 1rem;
    }

    .L-form-2 {
        width: 75%;
    }
}